<section
  class="hero-wrap hero-wrap-2"
  style="background-image: url('/images/bg_2.jpg')"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-end justify-content-center"
    >
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-2 bread">Donate</h1>
        <p class="breadcrumbs">
          <span class="mr-2"
            ><a href="index-2.html"
              >Home <i class="ion-ios-arrow-forward"></i></a
          ></span>
          <span>Donate<i class="ion-ios-arrow-forward"></i></span>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate">
        <div class="event-wrap d-md-flex ftco-animate">
          <div
            class="img"
            style="background-image: url(/images/IMG-20210503-WA0006.jpg)"
          ></div>
          <div class="text pl-md-5">
            <h2 class="mb-3">
              <a href="#">Church Building</a>
            </h2>
            <div class="meta">
              <p>
                <span><i class="icon-calendar mr-2"></i> Ongoing </span>
                <span
                  ><i class="icon-my_location mr-2"></i>
                  <a href="#">Jesus revival Gospel Outreach</a></span
                >
                <span
                  ><i class="icon-location_city mr-2"></i> N0. 18 Revival Street
                  Ijayapi Across Kubwa Abuja</span
                >
              </p>
            </div>
            <p><a href="/api/payment" class="btn btn-primary">Donate</a></p>
          </div>
        </div>
        <div class="event-wrap d-md-flex ftco-animate">
          <div
            class="img"
            style="background-image: url(/images/rural.jpg)"
          ></div>
          <div class="text pl-md-5">
            <h2 class="mb-3">
              <a href="/api/payment">Rural Evangelism</a>
            </h2>
            <div class="meta">
              <p>
                <span
                  ><i class="icon-calendar mr-2"></i> December </span
                >
                <span
                  ><i class="icon-my_location mr-2"></i>
                  <a href="#">Jesus revival Gospel Outreach</a></span
                >
                <span
                  ><i class="icon-location_city mr-2"></i> Kogi State</span
                >
              </p>
            </div>
            <p><a href="/api/payment" class="btn btn-primary">Donate</a></p>
          </div>
        </div>
        <div class="event-wrap d-md-flex ftco-animate">
          <div
            class="img"
            style="background-image: url(/images/nico-smit-NFoerQuvzrs-unsplash.jpg)"
          ></div>
          <div class="text pl-md-5">
            <h2 class="mb-3">
              <a href="#">Charity Program</a>
            </h2>
            <div class="meta">
              <p>
                <span
                  ><i class="icon-calendar mr-2"></i> December </span
                >
                <span
                  ><i class="icon-my_location mr-2"></i>
                  <a href="#">Jesus revival Gospel Outreach</a></span
                >
                <span
                  ><i class="icon-location_city mr-2"></i> Kogi State</span
                >
              </p>
            </div>
            <p><a href="/api/payment" class="btn btn-primary">Donate</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 sidebar ftco-animate">
        <div class="sidebar-box ftco-animate">
          <h3>Church Building</h3>
          <p>
            Our new building will be a modern and welcoming space, designed to
            accommodate our growing congregation and provide ample room for
            various ministries and programs. From the spacious worship center to
            the comfortable gathering spaces, we have carefully planned every
            detail to ensure that our building reflects the heart of our church
            and the needs of our community.
          </p>
        </div>
        <div class="sidebar-box ftco-animate">
          <h3>Rural Evangelism</h3>
          <p>
            Living in a rural area can present unique challenges when it comes
            to access to resources and opportunities for fellowship and
            discipleship. Our mission is to bridge this gap and provide a
            welcoming and inclusive community where all are welcome to explore
            and grow in their faith.
          </p>
        </div>
        <div class="sidebar-box ftco-animate">
          <h3>Charity Program</h3>
          <p>
            Our charity program is built on the belief that we are called to
            love and serve our neighbors, and we take this responsibility
            seriously. We offer various programs and initiatives to support
            those who are facing challenges, whether it's providing food and
            shelter to the homeless, supporting education and healthcare for
            children in underserved communities, or funding research to find a
            cure for life-threatening illnesses.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
